<div class="container mt-5">


  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Day of birth</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let animal of animals">
      <td>{{ animal.name }}</td>
      <td>{{ animal.type }}</td>
      <td>{{ animal.day_of_birth }}</td>
      <td class="text-center"><button (click)="removeAnimal(animal)" style="cursor:pointer" class="badge badge-danger badge-pill btn">x</button></td>
    </tr>
    </tbody>
  </table>



</div>
